@media (max-width: 768px){
	body{
		max-width: 768px;
		overflow-x: hidden;
	}
	header{
		max-width: 768px;
	}
	.wrapper{
		max-width: 768px;
	}
	.logo{
		left: 20px;
	}
	.header__nav{
		float: none;
		left: 0px;
		top: 100px;
	}
	.nav__menu__item{
		display: inline-block;
		margin: 20px 20px 0 20px;
	}
	.slider-box{
		left: 10px;
		width: 250px;
		height: 185px;
		overflow: hidden;
		text-overflow: clip;
	}
	.slider-box .title{
		font-size: 48px;
		line-height: 36px;
	}
	.slider-box .quote{
		font-size: 24px;
		white-space: nowrap;
		line-height: 36px;
	}
	.slider-box p{
		font-size: 16px;
		line-height: 30px;
	}
	.play{
		right: 70px;
	}
	.iphone{
		right: 250px;
	}
	.iphone-mini{
		float: none;
		left: 430px;
	}
	.slider-arrow-left{
		right: 0px;
	}
	.slider-arrow-right{
		float: none;
		position: relative;
		left: 710px;
		top: -90px
	}
	.radio-button_slider{
		float: none;
		left: 520px;
		top: 250px;
	}
	.info-box{
		width: 150px;
		height: 195px;
		margin-right: 40px;
	}
	.info-box-text{
		height: 145px;
		width: 150px;
		overflow: hidden;
		text-overflow: clip;
	}
	.info-box-massage{
		left: 0px;
	}
	.info-box p{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.info-box a{
		margin-top: 5px;
	}
	.info-box:last-child{
		left: 10px
	}
	.info-box-tool{
		margin-left: 20px;
	}
	.blog_slider{
		width: 315px;
		height: 270px;
		left: 20px;
	}
	.blog_slider .title{
		font-size: 24px;
		line-height: 24px;
	}
	.blog_slider .title span{
		display: block;
		width: 100%;
	}
	.blog_slider_text{
		height: 140px;
		overflow: hidden;
		text-overflow: clip;
		margin-top: -10px;
	}
	.blog_photo{
		margin-left: 20px;
	}
	.blog_slider:before{
		display: none;
	}
	.radio-button_blog_slider{
		left: -200px;
	}
	.blog_updates{
		width: 325px;
		height: 290px;
		float: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		right: 45px;
	}
	.brands img{
		margin-right: 10px;
		left: 0px;
	}
	.article-footer-box{
		width: 204px;
		height: 202px;
		overflow: hidden;
		text-overflow: clip;
	}
	.article-footer-box:first-child{
		margin-left: 20px;
	}
	.article-footer-box:last-child{
		left: 40px;
	}
	.footer__nav{
		margin-left: 20px;
	}
	.footer__item{
		margin-right: 40px;
	}
	.footer__link{
		font-size: 20px;
	}
	.copyright{
		top: 70px;
		float: none;
	}
}
@media (max-width: 480px){
	body{
		max-width: 480px;
		overflow-x: hidden;
	}
	header{
		max-width: 480px;
		height: 550px;
	}
	.wrapper{
		max-width: 480px;
	}
	.logo{
		left: 150px;
	}
	.header__nav{
		display: none;
	}
	.header__nav__dropdown{
		display: block;
	}
	.nav__menu__link{
	border-bottom: 2px solid #edbfff;
	}
	.slider-box p:nth-child(3){
		display: none;
	}
	.slider-box .title{
		font-size: 36px;
	}
	.slider-box .quote{
		font-size: 18px;
	}
	.iphone{
		background-size: 70%;
		right: 0px;
		top: -5px;
	}
	 .iphone-mini{
		background-size: 70%;
		left: 230px;
		top: 40px;
		float: none;
	}
	.play{
		background-size: 70%;
		left: -80px;
		top: 110px;
	}
	.slider{
		z-index: 0;
		height: 250px;
		top: 40px;
	}
	.slider-arrow-left{
		top: 100px;
	}
	.slider-arrow-right{
		top: -168px;
		left: 425px;
	}
	.radio-button_slider{
		top: 70px;
		left: 200px;
	}
	article .info{
		height: 600px;
	}
	.info-box{
		width: 380px;
		height: 140px;
		margin: 0;
	}
	.info-box-text:first-child{
		top: 40px;
		left: 40px;
	}
	.info-box-text{
		width: 400px;
		height: 100px;
		text-overflow: clip;
		position: relative;
		left: 220px;
	}
	.info-box-massage{
		left: -380px;
		bottom: 20px;
	}
	.info-box-tool{
		right: 15px;
		top: 110px;
	}
	.info-box-note{
		right: 440px;
		top: 260px;
	}
	.info-box p{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.info-box a{
		left: 320px;
		top: 40px;
		position: relative;
	}
	.info-box:last-child{
		left: 5px
	}
	.blog{
		height: 785px;
	}
	.blog_slider{
		height: 273px;
		width: 390px;
		top: 25px;
	}
	.blog_slider p{
		margin: 0px 25px;
	}
	.blog_slider .title{
		font-size: 30px;
		line-height: 23px;
	}
	.radio-button_blog_slider{
		top: 40px;
		left: 200px;
	}
	.blog_updates{
		float: none;
		display: inherit;
		white-space: normal;
		overflow: inherit;
		top: 100px;
		left: 45px;
	}
	article{
		height: 2290px;
	}
	.brands{
		width: 480px;
		height: 235px;
	}
	.brands img{
		float: none;
		margin-right: 40px;
		margin-bottom: 20px;
	}
	.article-footer{
		height: 670px;
		}
	.article-footer-box{
		width: 440px;
		height: 200px;
		margin-left: 20px;
		top: 60px;
	}
	.article-footer-box:first-child{
		top: 60px;
	}
	.article-footer-box:last-child{
		margin-left: -15px;
		top: 50px;
	}
	.footer__item{
		margin-right: 10px;
	}
	.copyright{
		float: left;
		left: 150px;
	}
	footer{
		height: 200px; 
	}
}
@media (max-width: 320px) {
	body{
		max-width: 320px;
		overflow-x: hidden;
	}
	header{
		max-width: 320px;
		height: 515px;
	}
	article{
		height: 1800px;
	}
	.logo{
		position: relative;
		left: 70px; 
	}
	.wrapper{
		max-width: 320px;
	}
	.slider{
		background: none;
	}
	.iphone{
		display: none;
	}
	.iphone-mini{
		display: none;
	}
	.slider-box{
		left: 25px;
	}
	.slider-arrow-right{
		left: 295px;
		top: 100px;
	}
	.radio-button_slider{
		left: 100px;
		top: 0px;
	}
	.info-box-text{
		width: 200px;
	}
	.info-box{
		right: -20px;
	}
	.info-box:last-child{
		left: 20px;
	}
	.info-box a{
		left: 180px;
		top: 40px;
		position: relative;
	}
	.info-box-massage{
		left: 5px;
		bottom: 90px;
	}
	.info-box-tool{
		right: 15px;
		top: 80px;
	}
	.info-box-note{
		right: 0px;
		top: 260px;
		left: 5px;
	}
	.blog_slider{
		height: 273px;
		width: 250px;
		top: 25px;
		left: 5px;
	}
	.blog_photo{
		right: 10px;
	}
	.radio-button_blog_slider{
		left: 95px;
		z-index: 4;
	}
	.blog_updates{
		left: 0;
		width: 282px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		left: 10px;
	}
	.blog_updates_item p{
		width: 155px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
	}
	.brands{
		height: 420px;
	}
	.brands img{
		position: relative;
		margin: 25px;
		left: -50px;
	}
	.brands img:last-child{
		left: -80px;
	}
	.brands img:nth-child(5){
		left: -70px;
	}
	.article-footer{
		display: none;
	}
	.footer__menu{
		display: none;
	}
	.copyright{
		left: 80px;
	}
}