@font-face{
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
body{
	background-color: #fff;
	overflow-x: hidden;
}
.wrapper{
	margin: 0 auto;
	width: 960px;
	position: relative;
}
header{
	height: 869px;
	background: url(../img/background.png) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.logo{
	width: 152px;
	height: 40px;
	font-size: 48px;
	font-family: 'League Gothic', Arial, sans-serif;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	position: relative;
	top: 70px;
	line-height: 30px;
	display: inline-block;
}
.logo span{
	color: rgba(116,80,131,1);
    color: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    color: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
}
.header__nav{
	display: block;
	top: 40px;
	position: relative;
	left: 265px;
}
.nav__menu__item{
	display: inline-block;
	margin-left: 50px;
}
.nav__menu__link{
	color: #fff;
	font-size: 24px;
	font-family: 'League Gothic', Arial, sans-serif;
	text-decoration: none;
	line-height: 30px;
}
.nav__menu__link:hover{
	border-bottom: 2px solid #edbfff;
}
.header__nav__dropdown{
		display: none;
		margin: 100px 30px 0  0;
	}
.nav__menu__item__drop{
	width: 30px;
	margin: 0 auto;
	position: relative;
}
.nav__menu__dropdown{
	position: absolute;
	display: none;
	height: 257px;
	width: 246px;
	background-color: rgba(63, 50, 71, 0.6);
	background: rgba(63, 50, 71, 0.6);
	color: rgba(63, 50, 71, 0.6);
	list-style: none;
	border-radius: 6px;
	border: 1px solid #0f191f;
	padding: 0 2px;
	top: -9px;
	left: -106px;
}
.nav__menu__link__dropdown{
	display: inline-block;
	width: 243px;
	height: 34px;
	text-decoration: none;
	color: #fff;
	font-family: 'League Gothic', Tahoma, sans-serif;
	font-size: 24px;
	text-align: center;
	border-bottom: 1px solid #36283e;
	border-top: 2px solid #523e5a;
	padding-top: 6px;
	width: 100%;
}
.nav__menu__link__dropdown:hover{
	background: #2b2231;
	border-bottom: 1px solid #edbfff;
}
.nav__menu__item__drop:hover .nav__menu__dropdown{
	display: block;
	position: absolute;
	z-index: 5;
}
.slider-arrow-left{
	background: url(../img/arrow.png) no-repeat;
	width: 22px;
	height: 34px;
	float: left;
	position: relative;
	right: 100px;
	top: 180px;
	transform: scale(-1, -1);
}
.slider-arrow-right{
	background: url(../img/arrow.png) no-repeat;
	width: 22px;
	height: 34px;
	float: right;
	position: relative;
	left: 400px;
	top: 180px;
	z-index: 2;
}
.slider{
	height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	top: 25%;
}
.slider-box .title{
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	font-size: 60px;
	color: #fff;
}
.slider-box .quote{
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	font-size: 32px;
	color: #edbfff;
	line-height: 36px;
}
.slider-box p{
	font-size: 17px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.slider-box{
	position: relative;
	top: 80px;
	width: 500px;
	height: 235px;
	float: left;
	vertical-align: middle;
}
.radio-button_slider{
	font-size:0;
	float: right;
	position: relative;
    top: 320px;
    left: 40px;
}
.radio-menu{
	display: inline-block;
	padding: 0 3px;
}
.radio-menu-item{
	padding: 3px 3px;
	display: inline-block;
}
.radio-menu-link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 3px 3px;
}
.radio-menu a:hover:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
}
.play{
	background: url(../img/play.png) no-repeat;
	z-index: 3;
	width: 76px;
	height: 76px;
	float: right;
	position: relative;
	top: 150px;
	right: 60px;
}
.iphone{
	background: url(../img/iphone.png) no-repeat;
	width: 199px;
	height: 428px;
	float: right;
	position: relative;
	bottom: 20px;
	right: 25px;
	z-index: 2;
}
.iphone-mini{
	background: url(../img/iphone_mini.png) no-repeat;
	width: 130px;
	height: 268px;
	float: right;
	top: 60px;
	right: -25px;
	position: relative;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
  	z-index: 1;
}
article{
	height: 1340px;
}
article .info{
	height: 342px;
	background: rgba(116,80,131,1);
    background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
}
.info-box{
	width: 230px;
	height: 200px;
	color: #fff;
	display: inline-block; 
	position: relative;
	margin: 70px 0 0 15px;
}
.info-box:last-child{
	left: 60px;
}
.info-box:nth-child(2){
	margin-right: 60px;
}
.info-box-tool{
	height: 28px;
	width: 28px;
	background: url('../img/icons.png') 0 0 repeat-x;
	position: relative;
	display: inline-block;
	bottom: 120px;
}
.info-box-note{
	height: 28px;
	width: 28px;
	background: url('../img/icons.png') 29px 0 repeat-x;
	position: relative;
	display: inline-block;
	bottom: 120px;
}
.info-box-massage{
	height: 28px;
	width: 28px;
	background: url('../img/icons.png') 58px 0 repeat-x;
	position: relative;
	display: inline-block;
	bottom: 120px;
	left: 60px;
}
.info-box p{
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 24px;
	margin-bottom: 15px;
}
.info-box span{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.info a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	float: left;
	margin-top: 20px;
}
.info-box a:hover{
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
.blog{
	height: 486px;
	background-color: #f9f9f9;
}
.blog_slider{
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	position:relative;
	height: 273px;
	width: 428px;
	margin-left:20px;
	background-color: #fff;
	display: inline-block;
	top: 51px;
	float: left;
}
.blog_slider:before{
	bottom:-7px;
	right:58px;
	width:30px;
	height:15px;
	-webkit-transform:rotate(41deg) skewX(45deg);
	-moz-transform:rotate(41deg) skewX(45deg);
	-ms-transform:rotate(41deg) skewX(45deg);
	-o-transform:rotate(41deg) skewX(45deg);
	background:#fff;
	box-shadow:1px 1px 0px 0px #efefef;
	content:'';
	position:absolute;
}
.blog_slider p{
	font-size: 15px;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 24px;
	margin: 0 39px;
	color: #454545;
}
.blog_slider .title{
	margin-top: 32px;
	margin-left: 39px;
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 23px;
	margin-bottom: 16px;
	text-transform: uppercase;
	color: #454545;
}
.blog_slider span{
	color: #edbfff;
}
.blog_photo{
	position: relative;
	z-index: 2;
	top: 120px;
}
.radio-button_blog_slider{
	font-size:0;
	float: left;
	position: relative;
    top: 350px;
   	right: 260px;
}
.radio-menu-blog{
	display: inline-block;
	padding: 0 3px;
}
.radio-menu-blog-link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
    padding: 3px 3px;
    border: 1px solid #efefef;
}
.radio-menu-blog a:hover:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}
.blog_updates{
	position:relative;
	height: 273px;
	width: 440px;
	display: inline-block;
	top: 20px;
	float: right;
}
.blog_updates .title{
	margin-top: 32px;
	font-family: 'League Gothic', 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 23px;
	margin-bottom: 16px;
	text-transform: uppercase;
	color: #454545;
}
.blog_updates_item{
	padding-left: 60px;
	padding-bottom: 20px;
}
.blog_updates_item span{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.blog_updates_item p{
	padding-top: 5px;
	font-family: 'Open Sans', Arial, serif; font-weight: 800;
	color: #454545;
}
.blog_updates_item:nth-child(1){
   background:url('../img/item1.png') no-repeat no-repeat;
}
.blog_updates_item:nth-child(2){
   background:url('../img/item2.png') no-repeat no-repeat;
}
.blog_updates_item:nth-child(3){
   background:url('../img/item3.png') no-repeat no-repeat;
}
.brands{
	height: 125px;
	background-color: #f9f9f9;
	border-top: 1px solid #e6e6e6;
}
.brands img{
	position: relative;
	top: 30px;
	margin: 0 30px;
}
.article-footer{
	height: 396px;
	background-color: #ececec;
	border-top: 1px solid #d8d8d8;
}
.article-footer-box{
	width: 285px;
	height: 200px;
	display: inline-block;
	position: relative;
	top: 100px;
}
.article-footer-box .title{
	font-size: 48px;
	color: #454545;
	line-height: 33px;
	text-transform: uppercase;
	font-family: 'League Gothic', 'Open Sans', sans-serif;
}
.article-footer-box p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	color: #454545;
	padding-top: 5px;
}
.article-footer-box span{
	font-size: 30px;
	color: #454545;
	line-height: 33px;
	text-transform: uppercase;
	font-family: 'League Gothic', 'Open Sans', sans-serif;
}
.article-footer-box .title span{
	color: #b9b9b9;
	font-size: 48px;
}
.article-footer-box div{
	font-size: 16px;
	line-height: 24px;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	padding: 5px;
}
.article-footer-box:first-child{
	margin-right: 40px;
}
.article-footer-box:last-child{
	left: 50px;
}
footer{
	height: 114px;
	background: url(../img/footer_blur.png) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.footer__nav{
	display: block;
	top: 40px;
	position: relative;
	float: left;
}
.footer__item{
	display: inline-block;
	margin-right: 50px;
}
.footer__link{
	color: #fff;
	font-size: 24px;
	font-family: 'League Gothic', Arial, sans-serif;
	text-decoration: none;
	line-height: 30px;
}
.copyright{
	float: right;
	color: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 33px;
	position: relative;
	top: 40px;
}
.copyright span{
	font-family: 'Open Sans', Arial, serif; font-weight: 800;
}

