<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="build/css/reset.css">
    <link rel="stylesheet" href="build/css/styles.css">
    <link rel="stylesheet" type="text/css" href="build/css/jcarousel.responsive.css">
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="build/js/jcarousel-0.3.4/dist/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <script src="build/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="build/js/script.main.js"></script>
    <!--[if lte IE 8]><link href="build/css/iestyles.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body>
  <header>
  <!-- <img src="src/img/header.jpeg" alt=""> -->
    <div class="wrapper">
      <div class="header_block">
        <div class="auth_block">
          <a class="auth_block_login" href="#">Log in</a>
          <a class="auth_block_signup" href="#">Sign up</a>
        </div>
        <h1 class="logo"><a href="index.html" class="logo_link">urlaubsglück</a></h1>
      </div>
        <div class="title">
          <h1 class="title_1">share your</h1>
          <h1 class="title_1"> holiday dreams</h1>
          <h3 class="title_2">And find a perfect partner to fullfill it</h3>
          <button class="title_search">Find your holiday partner</button>
        </div>
    </div>
  </header>
  <div class="wrapper">
    <h3 class="slider_title">How Urlaubsglück works?</h3>
    <div class="slider_wrapper">
      <div class="slider">
        <div class="jcarousel">
           <ul class="slider_list">
              <li class="slider_item slider_bg3"></li>
              <li class="slider_item slider_bg2"></li>
              <li class="slider_item slider_bg1"></li>
          </ul>
        </div>
        <div class="slider_content">
          <div class="slider_content-step"><span>step 1</span></div>
          <p class="slider_content-title">Sed leo enim, condimentum</p>
          <p class="slider_content-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donecrhoncus a leo sit amet facilisis.</p>
        </div>
      </div>
      <div class="slider">
        <div class="jcarousel">
           <ul class="slider_list">
              <li class="slider_item slider_bg2"></li>
              <li class="slider_item slider_bg3"></li>
              <li class="slider_item slider_bg1"></li>
          </ul>
        </div>
        <div class="slider_content">
          <div class="slider_content-step"><span>step 2</span></div>
          <p class="slider_content-title">Sed leo enim, condimentum</p>
          <p class="slider_content-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donecrhoncus a leo sit amet facilisis.</p>
        </div>
      </div>
      <div class="slider">
        <div class="jcarousel">
           <ul class="slider_list">
              <li class="slider_item slider_bg1"></li>
              <li class="slider_item slider_bg2"></li>
              <li class="slider_item slider_bg3"></li>
          </ul>
        </div>
        <div class="slider_content">
          <div class="slider_content-step"><span>step 3</span></div>
          <p class="slider_content-title">Sed leo enim, condimentum</p>
          <p class="slider_content-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donecrhoncus a leo sit amet facilisis.</p>
        </div>
      </div>            
    </div>
    <div class="partner">
      <div class="partner-wrapper">
        <h3 class="partner_title">Meet a partner for your best holiday</h3>
        <div class="partner_human">
            <div class="partner_photo partner_photo_tv"><img src="src/img/hunter.jpg"></div>
                <h6 class="partner_name">Bradley Hunter</h6>
                <p class="partner_text">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
        <div class="partner_human">
            <div class="partner_photo partner_photo_flask"><img src="src/img/lucas_marsha.jpg"></div>
            <h6 class="partner_name">Lucas Marsha</h6>
            <p class="partner_text">I get my inspiration from nature and objects around me. I have to colours, typography and skateboards.</p>
        </div>
        <div class="partner_human">
            <div class="partner_photo partner_photo_cup"><img src="src/img/heather_walker.jpg"></div>
            <h6 class="partner_name">Heather Walker</h6>
            <p class="partner_text">I'm a happy person that loves cats and climbing on mountains.</p>
        </div>
        <div class="partner_human">
            <div class="partner_photo partner_photo_airplane"><img src="src/img/bradley_hunter.jpg"></div>
            <h6 class="partner_name">Bradley Hunter</h6>
            <p class="partner_text">I get my inspiration from nature and objects around me.</p>
        </div>
      </div>
      <button class="search_partner">See other partners</button>
    </div>
    <div class="ideas">
      <div class="ideas_wrapper">
        <h5 class="ideas_title">Discover holiday activity ideas</h5>
        <div class="ideas_image_wrapper">
        </div>
       
        <form class="ideas_form"> 
        <h5 class="ideas_title">Discover holiday activity ideas</h5>
          <div class="ideas_question">Hi! What are your holiday interests?</div>
          <input type="text" placeholder="Enter your interest" id="input_search">
          <button class="search_ideas" id="search">Search partners</button>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="footer_wrapper">
        <h1 class="footer_logo_link logo_link">urlaubsglück</h1>
        <div class="footer_menu_wrapper">
          <div class="footer_title">Company</div>
          <ul class="footer_menu">
            <li  class="footer_item"><a href="#" class="footer_link">About</a></li>
            <li class="footer_item"><a href="#" class="footer_link">Contacts</a></li>
            <li class="footer_item"><a href="#" class="footer_link">Press</a></li>
            <li class="footer_item"><a href="#" class="footer_link">Blog</a></li>
          </ul>
        </div>
        <div class="footer_title">Partners</div>
        <div class="footer_logo">
          <span>Designed by</span>
          <img src="src/img/logo_footer.png" title="areto development">
        </div>
      </div>
  </footer>
</body>
<script type="text/template" id="img-list">

    <% var width = '';%>
    <% for (var i = 0; i<(obj.images.length); i++) { %>
      <% switch(i){
        case 4:
        case 5:
          width = '2';
          break;
        default:
          width = '1';
      }
      %>
    <div class="ideas_image grid-item-x<%=width%>" style = "background: url(<%=obj.images[i]%>) center no-repeat; background-size: cover">
        <span class="ideas_text"><%=obj.words[i]%></span>
    </div>

    <%}; %>

</script>
</html>