
@media (max-width: 960px){
	body{
		overflow-x: hidden;
	}
	.wrapper{
		width: 768px;
		height: 0px;
	}
	header{
		height: 200px;
	}
	.header__nav{
		float: left;
    	position: relative;
    	margin-top: 14%;
    	width: 80%;
	}
	.nav__menu__item{
		margin-left: 3%;
	}
	.slider-box{
		width: 35%;
		height: 185px;
		overflow: hidden;
		text-overflow: clip;
		position: relative;
    	top: 100px;
    	left: 8%;
	}
	.slider-box .title{
		font-size: 48px;
		line-height: 36px;
	}
	.slider-box .quote{
		font-size: 24px;
		white-space: nowrap;
		line-height: 36px;
	}
	.slider-box p{
		font-size: 16px;
		line-height: 30px;
	}
	.iphone{
		top: 25px;
		right: 8%;
	}
	.iphone-mini{
		top: 100px;
	}
	.radio-button_slider{
		text-align: center;
		top: 450px;
	}
	.info-box-text{
		height: 180px;
		overflow: hidden;
		text-overflow: clip;
	}
	.blog_slider_text{
		height: 140px;
		overflow: hidden;
		text-overflow: clip;
	}
	.blog_updates{
		width: 322px;
		height: 290px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		float: none;
		left: 5%;
	}
	.brands img{
		margin-left: 6%;
	}
	.main-footer-box{
		width: 220px;
		height: 202px;
		overflow: hidden;
		text-overflow: clip;
		position: relative;
		left: 5%;
	}
	.copyright{
		top: 40px;
    	right: 3%;	
	}
}
@media (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.wrapper{
		width: 480px;
	}
	header{
		height: 240px;
	}
	.logo{
		float: none;
		text-align: center;
	}
	.header__nav{
		display: none;
	}
	.header__nav__dropdown{
		display: block;
		position: relative;
		top: 95px;
	}
	header .nav__menu__link{
	border-bottom: 2px solid #edbfff;
	}
	.slider{
		height: 245px;
	}
	.slider-box{
		width: 50%;
		left: 0;
	}
	.slider-box p:nth-child(3){
		display: none;
	}
	.slider-box .title{
		font-size: 36px;
	}
	.slider-box .quote{
		font-size: 18px;
	}
	.iphone{
		background-size: 68%;
		top: -9px;
    	right: 0;
    	left: 65px;
	}
	.iphone-mini{
		background-size: 70%;
    	left: 295px;
    	top: 50px;
    	float: none;
    	width: 28%;
	}
	.play{
		background-size: 68%;
		top: 105px;
		right: 40%;
	}
	.slider-arrow-left{
		top: 40%;
	}
	.slider-arrow-right{
		top: 40%;
	}
	.radio-button_slider{
		top: 100px;
    	left: 23%;
	}
	.info{
		height: 600px;
	}
	.info-box{
		width: 80%;
		height: 140px;
		top: 13px;
		left: 20px;
	}
	.info-box a{
		bottom: 70px;
		position: relative;
	}
	.info-box p{
		font-size: 24px;
		line-height: 24px;
	}
	.info-box:first-child:before, 
	.info-box:nth-child(2):before, 
	.info-box:last-child:before{
		left: -10%;
		top: 10px;
	}
	.blog{
		height: 785px;
	}
	.blog_slider{
		height: 292px;
		width: 390px;
		top: 20px;
	}
	.blog_slider_text{
		height: 100%;
		width: 378px;
	}
	.radio-button_blog_slider{
		top: 40px;
		left: 33%;
	}
	.blog_updates{
		top: 60px;
		left: -75px;
	}
	.blog_updates_item{
		padding-bottom: 15px;
	}
	.brands{
		height: 235px;
	}
	.brands img{
		float: none;
		margin-left: 55px;
		margin-bottom: 30px;
	}
	.main-footer{
		height: 670px;
	}
	.main-footer-box{
		width: 90%;
		height: 200px;
		top: 50px;
	}
	.main-footer-box:first-child{
		margin-bottom: 20px;
	}
	footer .nav__menu__item{
		margin-right: -5px;
	}
	.copyright{
		float: left;
		left: 190px;
		top: 70px;
	}
	footer{
		height: 200px; 
	}
}
@media (max-width: 580px){
	.iphone{
		left: 15px;
	}
	.iphone-mini{
		display: none;
	}
	.slider-box{
		left: 40px;
	}
}
@media (max-width: 480px) {
	body{
		overflow-x: hidden;
	}
	.wrapper{
		width: 320px;
	}
	header{
		height: 200px;
	}
	.slider{
		background: none;
	}
	.iphone{
		display: none;
	}
	.slider-box{
		top: 90px;
		left: 50px;
		width: 75%;
	}
	.slider-arrow-right, .slider-arrow-left{
		top: 100px;
	}
	.radio-button_slider{
		top: 250px;
		position: absolute;
		left: 38%;
	}
	.info-box{
		height: 160px;
	}
	.info-box-text{
		width: 200px;
		height: 130px;
	}
	.info-box a{
		top: -5px;
		right: 60px;
		position: relative;
	}
	.info-box:first-child:before, 
	.info-box:nth-child(2):before, 
	.info-box:last-child:before{
		left: -40px;
	}
	.blog_slider{
		height: 273px;
		width: 250px;
		top: 25px;
		left: 15px;
	}
	.blog_slider .title{
		font-size: 24px;
		line-height: 24px;
	}
	.blog_slider .title span{
		display: block;
		width: 100%;
	}
	.blog_slider_text{
		height: 140px;
		width: 270px;
		overflow: hidden;
		text-overflow: clip;
		margin-top: -10px;
	}
	.blog_updates{
		left: 0;
		width: 285px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		left: 10px;
	}
	.blog_updates_item p{
		width: 155px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
	}
	.brands{
		height: 420px;
	}
	.brands img{
		top: 70px;
	}
	.brands img:last-child{
		left: -20px;
	}
	.main-footer{
		display: none;
	}
	footer .nav__menu{
		display: none;
	}
	.copyright{
		left: 80px;
	}
}