@font-face{
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
	background-color: #fff;
	overflow-x: hidden;
	font-family: 'League Gothic';
	background: url(../img/background.jpg) no-repeat center top;
	overflow-x: hidden;
}
.wrapper{
	margin: 0 auto;
	width: 960px;
	position: relative;
}
header {
	height: 250px;
}
.logo{
	float: left;
	font-size: 48px;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	position: relative;
	top: 70px;
	line-height: 30px;
	left: 2%;
}
.logo span{
	color: rgba(116,80,131,1);
    color: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    color: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    color: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
}
.header__nav{
	width: 62%;
	float: right;
	margin-top: 70px;
	position: relative;
}
.nav__menu__item{
	display: inline-block;
	margin-left: 5%;
}
.nav__menu__link{
	color: #fff;
	font-size: 24px;
	font-family: 'League Gothic';
	text-decoration: none;
	line-height: 30px;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}
.nav__menu__link:hover{
	border-bottom: 2px solid #edbfff;
}
.header__nav__dropdown{
	display: none;
}
.nav__menu__item__drop{
	width: 30px;
	margin: 0 auto;
	position: relative;
}
.nav__menu__dropdown{
	position: absolute;
	display: none;
	height: 257px;
	width: 246px;
	background-color: rgba(63, 50, 71, 0.6);
	background: rgba(63, 50, 71, 0.6);
	color: rgba(63, 50, 71, 0.6);
	list-style: none;
	border-radius: 6px;
	border: 1px solid #0f191f;
	padding: 0 2px;
	top: -9px;
	left: -106px;
}
.nav__menu__link__dropdown{
	display: inline-block;
	width: 243px;
	height: 34px;
	text-decoration: none;
	color: #fff;
	font-family: 'League Gothic';
	font-size: 24px;
	text-align: center;
	border-bottom: 1px solid #36283e;
	border-top: 2px solid #523e5a;
	padding-top: 6px;
	width: 100%;
}
.nav__menu__link__dropdown:hover{
	background: #2b2231;
	border-bottom: 1px solid #edbfff;
}
.nav__menu__item__drop:hover .nav__menu__dropdown{
	display: block;
	position: absolute;
	z-index: 5;
}
.arrows{
	width: 100%;
	}
.slider-arrow-left{
    background: url(../img/arrow-left.png) no-repeat;
    width: 22px;
    height: 34px;
    top: 180px;
    /*transform: scale(-1, -1);*/
    position: absolute;
    left: 1%;
}
.slider-arrow-right{
	background: url(../img/arrow.png) no-repeat;
	width: 22px;
	height: 34px;
	position: absolute;
	top: 180px;
	right: 2%;
	z-index: 3;
}
.slider{
	height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	width: 100%;
	margin-bottom: 200px;
}
.slider-box{
	position: relative;
    width: 50%;
    left: 7%;
    float: left;
    top: 78px;
}
.slider-box .title{
	font-family: 'League Gothic';
	font-size: 60px;
	color: #fff;
}
.slider-box .quote{
	font-family: 'League Gothic';
	font-size: 32px;
	color: #edbfff;
	line-height: 36px;
}
.slider-box p{
	font-size: 17px;
	color: #fff;
	font-family: 'open_sanslight';
	line-height: 24px;
}
.radio-button_slider{
	font-size: 0;
    text-align: center;
    position: relative;
}
.radio-menu{
	display: inline-block;
	padding: 0 3px;
}
.radio-menu-item{
	padding: 3px 3px;
	display: inline-block;
}
.radio-menu-link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 3px 3px;
}
.radio-menu a:hover:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
}
.iphone{
	background: url(../img/iphone.png) no-repeat;
	width: 197px;
	height: 428px;
	float: right;
	position: relative;
	top: 27px;
	right: 8%;
	z-index: 2;
}
.iphone-mini{
	background: url(../img/iphone_mini.png) no-repeat;
    width: 130px;
    height: 268px;
    float: right;
    right: 4px;
    top: 113px;
	position: relative;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
  	z-index: 1;
}
.play{
	background: url(../img/play.png) no-repeat;
    width: 40%;
    height: 76px;
    float: right;
    position: relative;
    top: 150px;
    right: 33%;
}
.info{
	height: 342px;
	background: rgba(116,80,131,1);
    background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
}
.info-box{
	width: 25%;
    height: 200px;
    color: #fff;
    position: relative;
    float: left;
    margin: 8% 0 0 8%;
}
.info-box:first-child{
	margin-left: 6%;
}
.info-box:first-child:before{
	content: '';
	display: block;
	height: 28px;
	width: 28px;
	background: url('../img/icons.png') 0 0 repeat-x;
	z-index: 3;
	position: absolute;
	left: -20%;
}
.info-box:last-child:before{
	content: '';
	display: block;
	height: 28px;
	width: 28px;
	z-index: 3;
	position: absolute;
	background: url('../img/icons.png') 29px 0 repeat-x;
	left: -20%;
}
.info-box:nth-child(2):before{
	content: '';
	display: block;
	height: 28px;
	width: 28px;
	z-index: 3;
	position: absolute;
	background: url('../img/icons.png') 58px 0 repeat-x;
	left: -20%;
}
.info-box p{
	font-family: 'League Gothic';
	font-size: 30px;
	line-height: 24px;
	margin-bottom: 15px;
}
.info-box span{
	font-size: 16px;
	font-family: 'open_sanslight';
	line-height: 24px;
}
.info a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-family: 'League Gothic';
	float: right;
	margin-top: 20px;
}
.info-box a:hover{
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
.blog{
	height: 486px;
	background-color: #f9f9f9;
}
.blog_slider{
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	position:relative;
	height: 273px;
	width: 45%;
	margin-left:4%;
	background-color: #fff;
	top: 51px;
	float: left;
}
.blog_slider:before{
	bottom:-7px;
	right:58px;
	width:30px;
	height:15px;
	-webkit-transform:rotate(41deg) skewX(45deg);
	-moz-transform:rotate(41deg) skewX(45deg);
	-ms-transform:rotate(41deg) skewX(45deg);
	-o-transform:rotate(41deg) skewX(45deg);
	background:#fff;
	box-shadow:1px 1px 0px 0px #efefef;
	content:'';
	position:absolute;
}
.blog_slider p{
	font-size: 15px;
	font-family: 'open_sanslight';
	line-height: 24px;
	margin: 0 39px;
	color: #454545;
}
.blog_slider .title{
	margin-top: 32px;
	margin-left: 39px;
	font-family: 'League Gothic';
	font-size: 30px;
	line-height: 23px;
	margin-bottom: 16px;
	text-transform: uppercase;
	color: #454545;
}
.blog_slider span{
	color: #edbfff;
}
.blog_photo{
	position: relative;
	z-index: 2;
	top: 120px;
	left: 2%;
}
.radio-button_blog_slider{
	font-size:0;
	float: left;
	position: relative;
    top: 350px;
   	right: 27%;
}
.radio-menu-blog{
	display: inline-block;
	padding: 0 3px;
}
.radio-menu-blog-link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
    padding: 3px 3px;
    border: 1px solid #efefef;
}
.radio-menu-blog a:hover:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}
.blog_updates{
	position:relative;
	height: 273px;
	width: 47%;
	top: 20px;
	float: right;
}
.blog_updates .title{
	margin-top: 32px;
	font-family: 'League Gothic';
	font-size: 30px;
	line-height: 23px;
	margin-bottom: 16px;
	text-transform: uppercase;
	color: #454545;
}
.blog_updates_item{
	padding-left: 60px;
	padding-bottom: 20px;
}
.blog_updates_item span{
	font-size: 15px;
	font-family: 'open_sanslight';
	line-height: 24px;
}
.blog_updates_item p{
	padding-top: 5px;
	font-family: 'open_sansextrabold';
	color: #454545;
}
.blog_updates_item:nth-child(1){
   background:url('../img/item1.png') no-repeat no-repeat;
}
.blog_updates_item:nth-child(2){
   background:url('../img/item2.png') no-repeat no-repeat;
}
.blog_updates_item:nth-child(3){
   background:url('../img/item3.png') no-repeat no-repeat;
}
.blog_updates_more{
	text-decoration: none;
	float: right;
	color: #000;
	position: relative;
    right: 7%;
}
.brands{
	height: 125px;
	background-color: #f9f9f9;
	border-top: 1px solid #e6e6e6;
}
.brands img{
	position: relative;
	top: 30px;
	margin-left: 8%;
}
.main-footer{
	height: 396px;
	background-color: #ececec;
	border-top: 1px solid #d8d8d8;
}
.main-footer-box{
    width: 30%;
    height: 200px;
    float: left;
    position: relative;
    top: 80px;
    margin-right: 3%;
    left: 2%;
}
.main-footer-box .title{
	font-size: 48px;
	color: #454545;
	line-height: 43px;
	text-transform: uppercase;
	font-family: 'League Gothic';
}
.main-footer-box p{
	font-size: 16px;
	font-family: 'open_sanslight';
	line-height: 24px;
	color: #454545;
	padding-top: 5px;
}
.main-footer-box span{
	font-size: 30px;
	color: #454545;
	line-height: 33px;
	text-transform: uppercase;
	font-family: 'League Gothic';
}
.main-footer-box .title span{
	color: #b9b9b9;
	font-size: 48px;
}
.main-footer-box div{
	font-size: 16px;
	line-height: 24px;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	padding: 5px;
}
footer{
	height: 114px;
	background: url(../img/footer_blur.png) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.footer__nav{
	display: block;
	top: 40px;
	position: relative;
	left: 2%;
}
.copyright{
	float: right;
	color: #fff;
	font-family: 'open_sanslight';
	font-size: 12px;
	line-height: 33px;
	position: relative;
	top: 10px;
	right: 3%;
}
.copyright span{
	font-family: 'open_sansextrabold';
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}