$font-ubuntu: Ubuntu, Arial, sans-serif;
$font-arial: Arial;
$primary-color: #000;
$dark_bg-color: #2a2d32;
$center-position: 0 auto;
$border-color: #181a1d;
$yellow_bg-color: #f4b60d;
$dark_grey_bg-color: #35383C;
$blue-color: #419bef;
$image_dir: '../img/';